name: "accurics"
on:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Import Results
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: results.sarif

